{{#if errorMessage}}
    <div class="error-message">{{errorMessage}}</div>
{{/if}}


<div class="container">
        <div class="title"> Apple's Innovation Death Tax </div>
        
        <div class="video">
            <iframe
                width="480"
                height="420"
                src="https://www.youtube.com/embed/VtvjbmoDx-I"
                title="YouTube video player"
                frameborder="0"
                allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture"
                allowfullscreen
            ></iframe>
        </div>
        <button>Learn More</button>
        <button>Sign Petition</button>
    </div>
</div>