{{#if errorMessage}}
    <div class="error-message">{{errorMessage}}</div>
{{/if}}

<form action="/petition" method="POST" class="petitionForm">
    <div class="petitionForm">
        <label for="name">Enter your first name: </label>
        <input type="text" name="firstname" required />
    </div>
    <div class="petitionForm">
        <label for="name">Enter your last name: </label>
        <input type="text" name="lastname" required />
    </div>
    <div class="petitionForm">
        <label for="email">Enter your email: </label>
        <input type="text" name="email" required />
    </div>
    <div class="petitionForm">
        <label for="password">Please select a password </label>
        <input type="text" name="password" required />
    </div>
    <div>
        <input
            type="hidden"
            name="signatures"
            value="canvas.toDataURL()"
            required
        />
    </div>
    <div class="petitionForm">
        <input type="submit" value="Sign Petiton" />
    </div>
</form>
<canvas name="signature" width="400px" height="100px">
</canvas>
<script src="/canva.js"></script>