{{#if errorMessage}}
    <div class="error-message">{{errorMessage}}</div>
{{/if}}

{{#signers}}{{/signers}}

<h1>Here are all our supporters {{petitionName}}</h1>

{{! You will to implement some logic how to retrive the number in your express app from 
the DB right before you call res.render for the according route
---- Use the function we have written before in the db.js file 
---- Provide the information about the count when you call res.render for the handlebarview 
--- Similiar logic as in the thanks page}}