{{#if errorMessage}}
    <div class="error-message">{{errorMessage}}</div>
{{/if}}

<h1>Thank you for Signing this petition!{{petitionName}}</h1>

<a href="/signers"> Check out who alreay signed the petition </a>

{{! 1.Implement number of users later.2. Insert Thank you text.  }}

{{! You will to implement some logic how to retrive the number in your express app from 
the DB right before you call res.render for the according route
---- Use the function we have written before in the db.js file 
---- Provide the information about the count when you call res.render for the handlebarview }}