{{#if errorMessage}}
    <div class="error-message">{{errorMessage}}</div>
{{/if}}

<h1>Thank you for Signing this petition!{{petitionName}}</h1>

<a href="/signers"> Check out who alreay signed the petition </a>
{{! Implement number of users later  }}